html {
    scroll-behavior: smooth;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    background-image: url(./media/img/color-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

footer {
    margin-top: 15rem;
    padding: 5rem;
}

.SDC-logo {
    display: block;
    z-index: 1;
    margin-left: 10rem;
    width: 45%;
    margin-bottom: 8rem;
}

.sdcText {
    font-size: 14rem;
    line-height: 14rem;
    font-family: impact;
    padding-top: 6rem;
}

.underText {
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height:1.5rem;
    
    
    
}

.text {
    /* font-size: .9rem; */
    font-size: clamp(.1rem, 2vw, 1.3rem);
}

.infoContainer {
    min-height: 15rem;
}

.cardHeader {
    box-sizing: border-box;
    width: 100%;
}

.formSection {
    margin-bottom: 10rem;
}

.contactSection {
    margin-top: 10rem;
}

li h3 {
    min-height: 2rem;
}

.about {
    background-color: rgba(236, 228, 255, 0.568);
}

.formWrapper {
    background: linear-gradient(135deg, #e9e5f5, #ad9fd6) ;
}


.labelDropMenu {
    font-family: Helvetica, Arial, sans-serif;
}

 .button:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.082),
                0 6px 6px 0 rgba(0,0,0,0.082);
    transition: 0.3s;
    transform: scale(1.05);
} 

 .button:active {
    transform: scale(0.95);
}

.clientCard:hover {
    transform: scale(1.02);
    transition: 0.3s;
}

.textfield:focus {
    outline: none;
}

.textfield::placeholder {
    opacity: .3;
    color: black;
}

