body {
    margin: 0;
}

.body-bg {
    position: absolute;
    min-height: 100vh;
    min-width: 100vw;
    z-index: -1;
}

.SDC-logo {
    display: block;
    z-index: 1;
    margin-top: -5rem;
    margin-left: -5rem;
    width: 70%;
}